<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p> Mi primer aplicacion IONIC....</p>
  </div>
  <ion-list>
    <ion-list>
  <ion-item>
    <ion-label>20233L0001106</ion-label>
    <ion-badge color="primary">Madai </ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>20233L0001908</ion-label>
    <ion-badge color="secondary">Mango</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>20233L03456</ion-label>
    <ion-badge color="tertiary">Berni</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>20233L063406</ion-label>
    <ion-badge color="success">Uron</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>20233L003265497</ion-label>
    <ion-badge color="warning">Tin </ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>20233L08646475</ion-label>
    <ion-badge color="danger">Fer</ion-badge>
  </ion-item>
</ion-list>
  </ion-list>


</ion-content>
